.ltk-header h1,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Merriweather
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/merriweather/Merriweather-Light.eot);
    src: url(../fonts/merriweather/Merriweather-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/merriweather/Merriweather-Light.woff2) format('woff2'), url(../fonts/merriweather/Merriweather-Light.woff) format('woff'), url(../fonts/merriweather/Merriweather-Light.ttf) format('truetype'), url(../fonts/merriweather/Merriweather-Light.svg#merriweather_lightregular) format('svg');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/merriweather/Merriweather-UltraBold.eot);
    src: url(../fonts/merriweather/Merriweather-UltraBold.eot?#iefix) format('embedded-opentype'), url(../fonts/merriweather/Merriweather-UltraBold.woff2) format('woff2'), url(../fonts/merriweather/Merriweather-UltraBold.woff) format('woff'), url(../fonts/merriweather/Merriweather-UltraBold.ttf) format('truetype'), url(../fonts/merriweather/Merriweather-UltraBold.svg#merriweather_ultraboldregular) format('svg');
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/merriweather/Merriweather-Bold.eot);
    src: url(../fonts/merriweather/Merriweather-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/merriweather/Merriweather-Bold.woff2) format('woff2'), url(../fonts/merriweather/Merriweather-Bold.woff) format('woff'), url(../fonts/merriweather/Merriweather-Bold.ttf) format('truetype'), url(../fonts/merriweather/Merriweather-Bold.svg#merriweatherbold) format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/merriweather/Merriweather-BoldIt.eot);
    src: url(../fonts/merriweather/Merriweather-BoldIt.eot?#iefix) format('embedded-opentype'), url(../fonts/merriweather/Merriweather-BoldIt.woff2) format('woff2'), url(../fonts/merriweather/Merriweather-BoldIt.woff) format('woff'), url(../fonts/merriweather/Merriweather-BoldIt.ttf) format('truetype'), url(../fonts/merriweather/Merriweather-BoldIt.svg#merriweatherbold_italic) format('svg');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/merriweather/Merriweather-Italic.eot);
    src: url(../fonts/merriweather/Merriweather-Italic.eot?#iefix) format('embedded-opentype'), url(../fonts/merriweather/Merriweather-Italic.woff2) format('woff2'), url(../fonts/merriweather/Merriweather-Italic.woff) format('woff'), url(../fonts/merriweather/Merriweather-Italic.ttf) format('truetype'), url(../fonts/merriweather/Merriweather-Italic.svg#merriweatheritalic) format('svg');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/merriweather/Merriweather-LightIt.eot);
    src: url(../fonts/merriweather/Merriweather-LightIt.eot?#iefix) format('embedded-opentype'), url(../fonts/merriweather/Merriweather-LightIt.woff2) format('woff2'), url(../fonts/merriweather/Merriweather-LightIt.woff) format('woff'), url(../fonts/merriweather/Merriweather-LightIt.ttf) format('truetype'), url(../fonts/merriweather/Merriweather-LightIt.svg#merriweatherlight_italic) format('svg');
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/merriweather/Merriweather-Regular.eot);
    src: url(../fonts/merriweather/Merriweather-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/merriweather/Merriweather-Regular.woff2) format('woff2'), url(../fonts/merriweather/Merriweather-Regular.woff) format('woff'), url(../fonts/merriweather/Merriweather-Regular.ttf) format('truetype'), url(../fonts/merriweather/Merriweather-Regular.svg#merriweatherregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/merriweather/Merriweather-UltraBdIt.eot);
    src: url(../fonts/merriweather/Merriweather-UltraBdIt.eot?#iefix) format('embedded-opentype'), url(../fonts/merriweather/Merriweather-UltraBdIt.woff2) format('woff2'), url(../fonts/merriweather/Merriweather-UltraBdIt.woff) format('woff'), url(../fonts/merriweather/Merriweather-UltraBdIt.ttf) format('truetype'), url(../fonts/merriweather/Merriweather-UltraBdIt.svg#merriweatherultrabold_italic) format('svg');
    font-weight: 800;
    font-style: italic
}

body {
    font-size: 16px
}

.avatar {
    margin-top: 20px;
    margin-right: 25px;
    border-radius: 8px;
    height: 120px;
    box-shadow: 0 0 8px #777
}

.ltk-header {
    background: #e7e7e7;
    margin-top: 0;
    box-shadow: 0 0 8px #aaa
}

.ltk-header h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 400
}

.ltk-header h1 a {
    color: #777;
    font-weight: 400;
    text-shadow: 1px 1px 2px #bbb
}

.ltk-header h1 a:hover {
    text-decoration: none;
    color: #555
}

.ltk-header h1 small {
    color: #999;
    text-shadow: 0 1px 0 #fff
}

.ltk-navbar-primary {
    background: linear-gradient(#e7e7e7, #d7d7d7);
    border-width: 1px 0;
    border-style: solid;
    border-color: #bbb;
    border-radius: 0;
    box-shadow: none;
    min-height: 0;
    font-size: 1.1em;
    margin-bottom: 30px
}

.ltk-navbar-primary .navbar-nav>li>a {
    color: #888;
    font-weight: 600;
    text-shadow: 1px 1px 2px #eee;
    padding-top: 10px;
    padding-bottom: 10px
}

@media (min-width:768px) {
    .ltk-navbar-primary .navbar-nav>li>a {
        border-right: 1px solid #bbb
    }

    .ltk-navbar-primary .navbar-nav>li:first-child>a {
        border-left: 1px solid #bbb
    }
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background: rgba(255, 255, 255, .25);
    box-shadow: inset 0 0 8px #bbb;
    color: #888
}

.nav .open>a,
.nav .open>a:focus {
    border-color: #bbb
}

.dropdown-menu {
    background: #e7e7e7
}

.dropdown-menu>li>a {
    color: #777;
    text-shadow: 0 1px 1px #fff
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    text-shadow: 0 1px 1px #000;
    background: #777;
    color: #fff
}

.breadcrumb {
    font-size: 75%;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 0
}

.breadcrumb>li+li::before {
    color: #999
}

.archive-post {
    margin-bottom: 2em
}

.post-image::after {
    padding-top: 36.95%
}

.post-footer .panel-default {
    border-style: solid;
    border-width: 3px 0 0;
    border-color: #e7e7e7;
    border-radius: 0;
    background: #f8f8f8
}

.sidebar .panel {
    border: none;
    border-radius: 0;
    box-shadow: none
}

.sidebar .panel-default .panel-heading {
    background: #e7e7e7;
    border: none;
    border-radius: 0;
    color: #777;
    text-shadow: 0 1px 1px #fff
}

.sidebar .panel-default .panel-body {
    font-size: 85%;
    background: #f8f8f8
}