
body {
    background-image: url("../Assets/fondolinux.jpg");
    font-family: 'Arial', sans-serif;
  }

  .parrafo1 {
    text-align: center;
  }

  
  nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0px;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    position: relative;
    left: 380px;
    display: block;
    padding: 18px;
    background-color: #2F93DA;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background: white;
  }


  /*Lateral derecho superior*/

.firstitem {
    position: absolute;
    background: rgb(50, 121, 131);
    border: 2px solid yellow;
    width: 240px;
    height: 170px;
    padding: 20px;
    right: 200px;
    top: 175px;
    left: 850px;
  }
  
  /*Lateral derecho inferior*/
  
  .seconditem {
    position: absolute;
    background: rgb(50, 121, 131);
    border: 2px solid yellow;
    width: 240px;
    height: 180px;
    padding: 20px;
    right: 200px;
    top: 750px;
    left: 850px;
  }